.input-group-text {
    background-color: #a4d0ff;
}

.form-control:disabled {
    background-color: white;
}

@media(max-width: 425px) {

    .form-control,
    .input-group-text {
        font-size: 0.7em;
    }
}

@media(max-width: 315px) {

    .form-control,
    .input-group-text {
        font-size: 0.6em;
    }
}