.button-wrapper {
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
}

.button {
    color: white;
    background-color: #5899E2;
    font-weight: 500;
    border-radius: 6px;
    padding: 10px;
    border: none
}

.button:hover {
    color: black;
    background-color: #65AFFF;
}

#clipboard:hover {
    cursor: pointer;
    background-color: #5899E2;
}

@media(max-width: 425px) {
    .button {
        font-size: 0.7em;
    }
}